<div class="p-6">
  <div class="bg-white rounded-lg shadow px-4 py-5 sm:p-6">
    <div class="flex items-center justify-between mb-4">
      <div>
        <h2 class="text-lg font-semibold text-gray-900">Checks</h2>
        <p class="mt-1 text-sm text-gray-600">
          Details of Checks
        </p>
      </div>
    </div>

    <div class="overflow-x-auto">
      <table class="min-w-full divide-y divide-gray-200">
        <thead>
          <tr>
            <th scope="col" class="px-6 py-3 text-left text-sm font-semibold text-gray-900">Date</th>
            <th scope="col" class="px-6 py-3 text-left text-sm font-semibold text-gray-900">Company</th>
            <th scope="col" class="px-6 py-3 text-left text-sm font-semibold text-gray-900">Check Number</th>
            <th scope="col" class="px-6 py-3 text-left text-sm font-semibold text-gray-900">Invoices</th>
            <th scope="col" class="px-6 py-3 text-left text-sm font-semibold text-gray-900">Image</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-100">
          <% @checks.each do |check| %>
            <tr>
              <td class="whitespace-nowrap px-6 py-4 text-sm font-medium text-gray-900"><%= check.created_at.strftime("%d-%m-%Y %I:%M %p") %></td>
              <td class="whitespace-nowrap px-6 py-4 text-sm text-gray-500"><%= check.company.name %></td>
              <td class="whitespace-nowrap px-6 py-4 text-sm text-gray-500"><%= check.number %></td>
              <td class="whitespace-nowrap px-6 py-4 text-sm text-gray-500"><%= check.invoices.pluck(:number).join(", ") %></td>
              <td class="whitespace-nowrap px-6 py-4 text-sm text-gray-500">
                <% if check.image.attached? %>
                  <%= image_tag check.image.variant(resize: "100x100") %>
                <% else %>
                  <span class="text-gray-500">No image</span>
                <% end %>
              </td>
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>
