<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Check Capture" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "check_capture", defer: true %>
  </head>

  <body>
    <main class="">
      <% if flash[:notice] %>
        <div class="alert alert-success bg-green-100 border-l-4 border-green-500 text-green-700 p-4 mb-4 rounded-lg shadow-md">
          <strong class="font-semibold">Success!</strong> <%= flash[:notice] %>
        </div>
      <% end %>

      <% if flash[:alert] %>
        <div class="alert alert-danger bg-red-100 border-l-4 border-red-500 text-red-700 p-4 mb-4 rounded-lg shadow-md">
          <strong class="font-semibold">Error!</strong> <%= flash[:alert] %>
        </div>
      <% end %>
      <%= render 'shared/navbar' %>
      <%= yield %>
    </main>
  </body>
</html>
